// --------------------
// Definition of variables
$primary: #415873;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    // animation: App-logo-spin infinite 20s linear;
    height: 180px;
  }

  .App-logo1 {
    // animation: App-logo-spin infinite 20s linear;
    height: 80px;
    z-index: 0;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }
  .App-header1 {
    background-color: $primary;
    // padding: 20px;
    color: white;
    display: flex;

    .App-header1-2 {
      margin: auto;
    }

    a {
      color: white;
      padding: 0 20px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid $primary;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;


}

.searchTerm:focus {
  color: $primary;
}

.searchButton {
  width: 40px;
  height: 34px;
  border: 3px solid$primary;
  background: white;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: 20px;
}
.jobs {
  width: 100%;
  background-color: #e73f3f;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-search {
  color: $primary;
}

.countryBox {
  display: block;
  width: 65vh;
  margin-bottom: 2em;
  display: flex;
  margin: auto;
}

.imagePays {
  margin-left: 0px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

